@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css");

html,body{
  font-family: 'Open Sans', sans-serif;
  height: 100%;

}

.RegisterForm{
  background-color: #2e2e2e;
  color: white;
}

.title {
  color: white;
}

.label {
  color: white;
}

.error-text 
{
display: none;
}

.ExistingAccount
{
display: block;
}
