

html,body{
  font-family: 'Open Sans', sans-serif;
  height: 100%;

}

.RegisterForm{
  background-color: #2e2e2e;
  color: white;
}

.title {
  color: white;
}

.label {
  color: white;
}

.error-text 
{
display: none;
}

.ExistingAccount
{
display: block;
}
