@import url("https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css");

html,body{
  background-color: #1a1a1a;
  height: 100%;

}
#root{
  height: 100%;
  overflow: hidden;
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.BrandName.title.is-3:hover {
  color: white;
}

.Header {
  width: 65%;
  margin-top: 50px;  
}
.NavBarHeader {
  display: flex;
  width: 100%;
  height: 100%;

  align-items: center;
  justify-content: space-between;

}
.BrandHolder {
  width: 40%;
}
.NavBarItems {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
}

div.NavBarItem a {
  color: white;
}


a.BrandName {
  color: white;
}

.IntroBody{
  display: flex;
  justify-content: space-between;
  width: 65%;
  height: 40%;
  margin-top: 4%;
}

.LeftIntro {
  width: 40%;
  color: white;
}
.LeftIntro h1 {
  color: white;
  font-size: 50px;
  margin-top: 20px;
}
.RighIntro {
  width: 60%;
  text-align: center;
}
img {
  width: 400px;
}
.GetStarted {
  margin-top: 3%;
}




